{% load static %}
<div class="border-right border-warning h-100">
    <div class="text-center">
        <img src="{% static 'core/images/ph.jpg' %}" alt="profile" class="img-fluid rounded-circle mt-5" width="500px" height="500px">
        <h3 class="text-white mt-3 st-font"> Foram Dadhaniya</h3>
    </div>
    <hr class="border-light">

    <nav class="nav flex-column text-center">
        <a href="" class="nav link">Home</a>
        <a href="" class="nav link">Services</a>
        <a href="" class="nav link">Skill</a>
        <a href="" class="nav link">Contact</a>
    </nav>
  
</div>