{% extends 'core/base.html' %}


{% block content %}
    <div class="container mt-">
        <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa fa-search fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa fa-pallet fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h3>WEB</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa fa-code fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h3>Development</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa fa-search fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa fa-pallet fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h3>WEB</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa fa-code fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h3>Development</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa fa-search fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa fa-pallet fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h3>WEB</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa fa-code fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h3>Development</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    

{% endblock content %}
    